<footer>
    <div>
        <p>
            O kontakt prosimy zgłaszać się pod numer <b>+48 532 412 347</b>
            <abbr style="float: right; padding-right: 30px;">Twórca strony - <b><a href="#" id="creator">Kamil Głuchowski</a></b></abbr>
        </p>
        <p>
            Lub pod adresem email <b>bilety-pkp@gmail.com</b>
            <abbr style="float: right; padding-right: 30px;">Kontakt z nim <b>+48 500 484 315</b> lub adres email <b>kamilkamil554@wp.pl</b></abbr>
        </p>
        <p id="unallow-copy">Wszelkie prawa zastrzeżone &copy;</p>
    </div>
</footer>